[server]
listenIpv6=true
listenIpv4=true
name=Mnigs Server
rpcport=65533
maxConnections=10
clientTimeout=300

[client]
name=Mnigs Client

[cjdns]
config=/etc/cjdroute.conf
serverSupport=yes
clientSupport=yes
tunnelIpv4subnet=10.67.1.0/16
tunnelIpv6subnet=1111:1111:1111:1111::1111:0/120

[database]
file=mnigs.db
