; transitd config file

; file transit.conf.sample
; license The MIT License (MIT)
; author Alex <alex@maximum.guru>
; author William Fleurant <william@netblazr.com>
; copyright 2016 Alex
; copyright 2016 William Fleurant


[main]

name=lua-transitd


[daemon]

listenIpv6=true
listenIpv4=true

; port to listen on
rpcport=65533

; ports to scan for
scanports=65533

; seconds to wait before moving between nodes
scanDelay=1

; networks which should have full access
authorizedNetworks=127.0.0.1/8,::1/128

; ip to ping to detect online status
pingTarget=8.8.8.8


[gateway]

; enable gateway function
enabled=no

ipv6support=no

; maximum allowed subscribers
maxConnections=10

; automatically disable users after this timeout
subscriberTimeout=300

; shell scripts to run on certain events
; arguments: "$sessionid" "$meshIp" "$ipv4" "$ipv4gateway" "$ipv6" "$ipv6gateway" "$interface"
; arguments are passed as '0' when no value is available
;onRegister=
;onRelease=


[subscriber]

; how routing should be set up
; route - set up / replace the default route
; none - don't set up routing
routing=route

; shell scripts to run on certain events
; arguments: "$sessionid" "$meshIp" "$ipv4" "$ipv4gateway" "$ipv6" "$ipv6gateway" "$interface"
; arguments are passed as '0' when no value is available
;onConnect=
;onDisconnect=
;onGoingOnline=
;onGoingOffline=

[cjdns]

; don't change this
network=fc00::/8

; path to main cjdns config file
config=/etc/cjdroute.conf

; publish gateway on this network
gatewaySupport=yes

; subscribe over this network
subscriberSupport=yes

; allow the use of built in cjdns tunnel function
tunnelSupport=no

; how routing should be set up
; nat - set up NAT on gateway side
; route - set up routing
; none - don't set up routing
routing=nat

; subscriber address allocation
addressAllocation=static

; static address allocation subnets
ipv4subnet=10.67.90.0/24
ipv4gateway=10.67.90.1
ipv6subnet=fdff:ffff::f000/120
ipv6gateway=fdff:ffff::f001

[ipip]

; allow the use of ipip tunnels
support=yes

; how routing should be set up
; nat - set up NAT on gateway side
; route - set up routing
; none - don't set up routing
routing=nat

; subscriber address allocation
addressAllocation=static

; static address allocation subnets
ipv4subnet=10.67.91.0/24
ipv4gateway=10.67.91.1
ipv6subnet=fdff:ffff::f100/120
ipv6gateway=fdff:ffff::f101


[database]

file=transitd.db

