#log
{
    white-space: pre;
	position:fixed;
	top: 5%;
	left: 5%;
	right: 5%;
	z-index:9999;
	border-radius:0px;
}

.alert
{
	box-shadow: 5px 5px 5px rgba(100,100,100,0.5);
}

#network
{
	z-index: -1000000;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.4;
}

.table, .navbar-default .navbar-collapse
{
	background-color: rgba(255,255,255,0.6);
}

.navbar {
  background: none;
}