#log
{
    white-space: pre;
}

#network
{
	z-index: -1000000;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
}

.table, .navbar-default .navbar-collapse
{
	background-color: rgba(255,255,255,0.6);
}

.navbar {
  background: none;
}